<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - abs38</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/abs38.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/datatables.css" rel="stylesheet" />
</head>
<body>
    
    <div class="sidebar">
        <div class="sidebar-head">
            <h2 class="head-text">ABS</h2><h3>38</h3>
            
        </div>
       <div class="arrow">
            <i class="fa fa-chevron-circle-left"></i>
       </div>
       <hr class="line"/>
       <div class="sidebar-body">
           <ul>
                <li><i class="fa fa-user"></i><a class="sidebar-body-text">user</a></li>
           </ul>
       </div>
    </div>
    
    <div class="container-fluid">
        <div class="topbar">
            <p>user@email.com</p>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            var $arrow = $('.arrow');
            var $sidebar = $('.sidebar');
            var $Logo = $('.head-text')
            var $text = $('.sidebar-body-text')
            $arrow.click(function () {
                if ($sidebar.hasClass('collapse')) {
                    $sidebar.removeClass('collapse');
                    $Logo.css('display', 'block');
                    $arrow.removeClass('transform');
                    $text.css('display', 'block');
                } else {
                    $sidebar.addClass('collapse');
                    $Logo.css('display', 'none');
                    $arrow.addClass('transform');
                    $text.css('display', 'none');
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
